.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    align-items: center;
    margin-right: 10px
}
.product-name {
    color: blue;
}
.add-cart-button {
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
}